---
import Card from "@components/Card.astro";
import Github from "@icons/Github.astro";
import Linkedin from "@icons/Linkedin.astro";
import Layout from "@layouts/Layout.astro";
import { css } from "@styled-system/css";
import { attribution, header, listProyects, main, social, wrapperMain } from "@styles/index";
import { PROJECTS } from "src/constants";
--- 

<Layout title={"Fronted Challanges"}>
  <main class={main}>
    <div class={wrapperMain}>
      <header class={header}>
        <h1>Frontend Mentor Solutions</h1>
        <div class={social}>
          <a target="_blank" href={`https://github.com/jojoboomer`}>
            <Github/>
          </a>
          <a target="_blank" href={`https://linkedin.com/in/joellabrada/`}>
            <Linkedin/>
          </a>
        </div>
      </header>
      <section class={listProyects}>
        {
          PROJECTS.map((solution) => (
            <Card
              title={solution.title}
              img={solution.img}
              tech={solution.tech}
              link={solution.link}
              description={solution.description}
              status={solution.active}
              level={solution.level}
            />
          ))
        }
      </section>
      <div class={attribution}>
        Challenges by Frontend Mentor:
        <a class={css({marginLeft:'0.5rem'})} href="https://www.frontendmentor.io?ref=challenge" target="_blank">
          <img class={css({w:'28px',h:'28px', _hover:{scale:'1.1'}})} src="/favicon-32x32.png" alt="Fonted Mentor Icon">
        </a>
      </div>
    </div>
  </main>
</Layout>