---
import { css } from "@styled-system/css";

interface Props {
  img: string;
  title: string;
  tech: string[];
  link: string;
  description: string;
  status: boolean;
}
const { img, tech, title, link, description, status } = Astro.props;

const cardStyles = css({
  bg: "white",
  display: "flex",
  flexDirection: "column",
  padding: 2,
  gap: "8px",
  boxShadow: "rgba(0, 0, 0, 0.24) 0px 3px 8px",
  transition: "0.4s",
  borderRadius: "8px",
  _hover: {
    translate: "0 -10px",
  },
});

const cardBody = css({
  display: "flex",
  flexDirection: "column",
  gap: "8px",
  "& h3": {
    fontWeight: "600",
    fontSize: "28px",
  },
  "& .tech": {
    fontWeight: "500",
    fontSize: "16px",
    borderRadius: "25px",
    paddingX: "8px",
    bg: "gray.300",
    
  },
});
---

<a href={status ? `/${link}` : ''}>
  <div class={cardStyles}>
    <img
      class={css({
        aspectRatio: "landscape",
        width: "100%",
        objectFit: "cover",
        bgPosition:'center',
        borderRadius: "8px",
      })}
      loading="lazy"
      src={img}
      alt={title}
    />
    <div class={cardBody}>
      <h3>{title}</h3>
      <p>{description}</p>
      <div class={css({ display: "inline-flex", gap: "8px" })}>
        {tech.map((tech) => <span class="tech">{tech}</span>)}
      </div>
    </div>
  </div>
</a>
